<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Online Learning</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons --> 
  <link href="assets/img/ficon.jpg" rel="icon" >
  <link href="assets/img/ficon.jpg" rel="apple-touch-icon">
 
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="style.css">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

 
</head>

<body style="background-color: rgb(122, 122, 198)">

  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-none d-md-flex align-items-center fixed-top ">
    <div class="container d-flex">
      <div class="contact-info mr-auto">
        <i class="icofont-envelope"></i> <a href="mailto:abubakar0978123@gmail.com ">onlinelearning@gmail.com </a>
        <i class="icofont-phone"></i> <a href="callto: 0923119010814">+92 311 9010814 </a>
      </div>
      <div class="social-links">
       
        <a href="https://facebook.com/thixixabubakkar" class="facebook"><i class="icofont-facebook"></i></a>
        <a href="https://www.instagram.com/abu__says" class="instagram"><i class="icofont-instagram"></i></a>
        
      </div>
    </div>
  </div>
<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center" id="home" >

      <h1 class="logo mr-auto"><a href="/">Online Learning</a></h1>
      <div class="social-links" >
      <nav class="nav-menu d-none d-lg-block " >
        <ul>
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/#about">Categories</a></li>
         
          <li><a href="/#team">Our Company Team</a></li>
          
          
          
          <li><a href="/#contact">Contact</a></li>
           <li><a href="/#register">Register</a></li>
           <li><a href="/#apply">Apply</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header>
<div>
  <p><br><br><br><br><br><br></p>
</div>
</div>
<div class="col-lg-12">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />
<div class="container" style="text-align: center">
<h1 id="web">  Web and Database Projects  </h1>
</div> <br>
<div class="container" id="textstyle">
  <div class="row">
    <div class="col-md-4">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
       
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <img class="banner img-fluid" src="https://scontent.fkhi3-1.fna.fbcdn.net/v/t39.30808-6/241733819_2738700086430694_5646502412952810642_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=174925&_nc_eui2=AeFcqlNwW09Q32mB2gZ0rKYL5byMS3DY0TLlvIxLcNjRMqZfiBqOLnKeqgWM1gBNd-lMgmnv-vuru_fdJjIykfy_&_nc_ohc=JQaEsf-dRIcAX_-8x2K&_nc_zt=23&_nc_ht=scontent.fkhi3-1.fna&oh=00_AT-GS8KPIvtOb74StVdu5xoiARhF2mg6nNOyQXUwfnKU8Q&oe=629D9286" alt="First slide">
          </div>
          
          
        </div>
        
       
      </div>
    </div>
    
    <div class="col-md-6">
      <h4>Abu Bakar</h4>
      <p><i> <strong>Expert in Developing websites and Database Projects  </strong></i></p>

      Having 4 years experience in <b> Web Development </b>,<br> developing many types of sites like 
      
          Blog,
          Educational,
          Nonprofit Website,
          News or magazine,
          Social media,
          Brochure,
          Portfolio,
          Ecommerce,
          Corporate.<br> Also expert in <b>Database Projects</b> <br> like Oracle 12c,
MySQL,
Microsoft SQL Server,
PostgreSQL,
MongoDB,
MariaDB,
SAP HANA
etc..

     
    </div>
  </div>
</div>
<br><br><br>
<div class="container" style="text-align: center">
<h1 id="networking">  Networking Projects </h1>
</div> <br>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
       
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <img class="banner img-fluid" src="https://scontent.fisb2-1.fna.fbcdn.net/v/t31.18172-8/28161423_575947822746762_1392225466027587241_o.jpg?_nc_cat=102&ccb=1-7&_nc_sid=174925&_nc_eui2=AeGL1WYoiNM4_3jzlSbea8k2QNwNs8Po68tA3A2zw-jry8DETJWPF_EOajm80A39BsB6fPaZnquSrKhL5LzUK_VY&_nc_ohc=_1p2jkFaynMAX88BZl6&_nc_ht=scontent.fisb2-1.fna&oh=00_AT-yjkd_SEb8RTj6BXUDWMVxvWbnUBpjpfQVTcsM150E_w&oe=62BE1F84" alt="First slide">
          </div>
          
          
        </div>
        
       
      </div>
    </div>
    <div class="col-md-6" style="font-size: larger;">
      <h4>Maaz Bin Sadique</h4>
      <p><i> <strong> </strong></i></p>

      Having 3 years experience in <b> Computer Networking</b>,<br> the following 
      courses he have <br>
        Cisco CCNA 200-301,<br>
Cisco CCNP Enterprise-ENARSI,<br>
Cisco SD-WAN Solutions (300-415 ENSDWI)
CCNP Security,<br>
Certified Ethical Hacker (CEHv11)<br>
Some of projects we can provide to you like
Network Security Projects, <br>
Internet and Routing Projects, <br>
Real-time Networking Projects, <br>
Protocol Projects, <br>
Wireless Projects, <br>
TCP Projects, <br>
Bluetooth Projects, <br>
GPS amd GSM Projects.
         
     
  </div>
  
  </div>
</div>
<br><br><br>
<div class="container" style="text-align: center">
<h1 id="programming">  Programming Projects </h1>
</div> <br>
<div class="container" id="textstyle">
  <div class="row">
    <div class="col-md-4">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
       
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <img class="banner img-fluid" src="zubair.jpg" alt="First slide">
          </div>
          
          
        </div>
        
       
      </div>
    </div>
    <div class="col-md-6">
      <h4>Moheed Zubair</h4>
      <p><i> <strong>Expert in Developing/Coding Apps of anytype like Mobile App,
        Window App etc..  </strong></i></p>

      Having many years experience in <b> Programming languages </b>,<br> like
          Procedural Programming Language, <br>
Functional Programming Language,<br>
Object-oriented Programming Language,<br>
Scripting Programming Language,<br>
Logic Programming Language,<br>
C++ Language,<br>
C Language,<br>
Pascal Language.<br>
etc..

     
    </div>
  </div>
</div>
<br><br><br>
<div class="container" style="text-align: center">
<h1 id="assignments">  Assignments </h1>
</div> <br>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
       
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <img class="banner img-fluid" src="https://cdn.pixabay.com/photo/2015/11/03/08/56/question-mark-1019820_960_720.jpg" alt="First slide">
          </div>
          
          
        </div>
        
       
      </div>
    </div>
    <div class="col-md-6" style="font-size: larger;">
      <h4>Searching for Teachers</h4>
      <p><i> <strong> </strong></i></p>

    <i>  We have needed <br> <b> Economics, <br>
Medical related field, <br> and 
Commerce related field <br> teachers,</b> </i>
<br>
English and 
Maths teachers already we have.
  </div>
  
  </div>
</div>
<br><br><br>
<div class="container" style="text-align: center">
<h1 id="thesis"> Thesis and Proposal</h1>
</div> <br>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
       
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <img class="banner img-fluid" src="zeeshan.jpg" alt="First slide">
          </div>
          
          
        </div>
        
       
      </div>
    </div>
    <div class="col-md-6" style="font-size: larger;">
      <h4>Zeeshan Khan</h4>
      <p><i> <strong>Master in English literature </strong></i></p>

   <p> <i> So much Experience in <br> Thesis
Explanatory<br>
and<br>
Argumentative
Proposal<br>
Solicited proposals<br>
Unsolicited proposals<br>
Preproposals<br>
Renewal or competing proposals<br>
Continuation or non-competing proposals
</p>
       
  </div>
  
  </div>
</div>
<br><br><br>
  </body>
  </html>